[project]
	description = OSIC Ops/QA Automation PoC for CI/CD
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group OSIC-QE-Admins
[access "refs/drafts/*"]
	read = group Registered Users
	push = group Registered Users
[access "refs/heads/*"]
	read = group Anonymous Users
	create = group OSIC-QE-Integrators
	forgeAuthor = group OSIC-QE-Developers
	push = group OSIC-QE-Integrators
	pushMerge = group OSIC-QE-Integrators
	label-Code-Review = -2..+2 group OSIC-QE-Developers
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group OSIC-QE-Developers
	removeReviewer = group OSIC-QE-Integrators
	submit = group OSIC-QE-Developers
	publishDrafts = group Registered Users
[access "refs/publish/*"]
	read = group Anonymous Users
	forgeCommitter = group OSIC-QE-Integrators
	push = group Registered Users
	pushMerge = group OSIC-QE-Developers
