[project]
	description = OSIC Ops/QA Automation PoC for CI/CD
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Castulo J. Martinez (CasJ)
[access "refs/for/refs/*"]
	read = group user/Castulo J. Martinez (CasJ)
	push = group user/Castulo J. Martinez (CasJ)
	label-Code-Review = -2..+2 group user/Castulo J. Martinez (CasJ)
	label-Verified = -1..+1 group user/Castulo J. Martinez (CasJ)
	rebase = group user/Castulo J. Martinez (CasJ)
	removeReviewer = group user/Castulo J. Martinez (CasJ)
	submit = group user/Castulo J. Martinez (CasJ)
[access "refs/heads/*"]
	read = group user/Castulo J. Martinez (CasJ)
	create = group user/Castulo J. Martinez (CasJ)
	push = +force group user/Castulo J. Martinez (CasJ)
	pushMerge = group user/Castulo J. Martinez (CasJ)
[access "refs/tags/*"]
	push = group user/Castulo J. Martinez (CasJ)
	push = +force group user/Castulo J. Martinez (CasJ)
